.screen {
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat; /* Garante que a imagem não se repita */
    background-size: 50% 100%; /* A imagem ocupará 50% da largura e 100% da altura */
    padding-top: 40px;
    padding-left: 13px;
    padding-right: 13px;
  }
  
  @media (min-width: 600px) {
    .screen {
      background-image: url("/images/bg.jpg");
      padding-top: 50px;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  
  .container {
    display: block;
  }
  
  
  @media (min-width: 600px) {
    .container {
      max-width: 350px;
      
    }
  }